
/* Common styles for all screen sizes */

@font-face {
  font-family: 'Excelorate';
  src: local('Excelorate-font'),
       url('./fonts/Excelorate-font.woff') format('woff');
}

@font-face {
  font-family: 'Protomo';
  src: local('Promtomo'),
       url('./fonts/Protomo.woff') format('woff');
}

@font-face {
  font-family: 'Digistick';
  src: local('Digistick'),
       url('./fonts/Digistick.woff') format('woff');
}

@font-face {
  font-family: 'Powerpuff';
  src: local('Powerpuff'),
       url('./fonts/Powerpuff.woff') format('woff');
}

@font-face {
  font-family: 'LemonMilk';
  src: local('LEMONMILK-MediumItalic'),
       url('./fonts/LEMONMILK-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Crystal';
  src: local('CrystalUniverse'),
       url('./fonts/CrystalUniverse.woff') format('woff');
}

@font-face {
  font-family: 'dogica';
  src: local('dogica'),
       url('./fonts/dogica.woff') format('woff');
}

/* Styles for screens smaller than 768px (e.g., smartphones) */
@media (max-width: 768px) {
  h1 {
    font-size: 20px; /* Adjust based on your design */
  }

  /* Add other selectors and properties for smaller screens here */
}

/* Rest of your existing CSS styles below */
.star-shaped {
  clip-path: polygon(50% 0%, 61.8% 38.2%, 98.1% 38.2%, 68.4% 61.8%, 79.4% 95%, 50% 76.6%, 20.6% 95%, 31.6% 61.8%, 1.9% 38.2%, 38.2% 38.2%);
  object-position: center 10%;
  height: 200px;  /* Set height */
  width: 200px;  /* Set width */
}

/* Add your keyframes animations here */

.cloud-background {
  background: 
      url('cloud.jpg'), /* This is your cloud image */
      your_current_background_color; /* Replace with your color, e.g., rgba(0, 128, 255, 1) */
  background-repeat: repeat, no-repeat; 
  background-position: center center, center center;
  background-size: cover, cover;
}

/* Styles for screens smaller than 768px (e.g., smartphones) */
@media (max-width: 768px) {
  h1 {
    font-size: 20px; /* Adjust based on your design */
  }

  /* Add other selectors and properties for smaller screens here */
}

/* New styles related to the changes we discussed */

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}


body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

.nav-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  overflow: hidden;
}

.nav-mobile a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-mobile a:last-child {
  border-bottom: none;
}

.hamburger-menu {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .desktop-nav {
    display: none;
  }

  .nav-mobile.active {
    display: flex;
  }
}